celery==5.1.2
Django==3.2.8
djangorestframework==3.12.4
django-cors-headers==3.10.0
django-oauth-toolkit==1.5.0
Redis==3.5.3
django-redis==5.2.0
gevent==21.12.0
gunicorn==20.1.0
numpy==1.19.5
Pillow==8.3.2
psycopg2-binary==2.9.3
python-memcached==1.59
pytest-django==4.5.2

#linting
black==21.9b0
flake8==3.9.2
flake8-isort==4.0.0
isort==5.9.2


